@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('./assets/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Thin.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Extralight.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('assets/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Bold.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Black.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Monument';
  src: url('./assets/fonts/monumentextended-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/monumentextended-regular-webfont.woff') format('woff');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Monument';
  src: url('./assets/fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/monumentextended-ultrabold-webfont.woff') format('woff');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-blue: #29166F;
  --primary-red: #661A2B;
  --black: #222;
  --light-grey: #DBDBE0
}

/* NAVIGATION BAR */
.companyLogo{
  padding-top: 10px;
}

.mainMenu{
  display: flex;
  justify-content: space-around;
  justify-items: flex-start;
  align-items: center;
  font-family: 'Cabinet';
  font-size: 18px;
  font-weight: 500;
  /* padding-block: 12px; */
  height: 100px;
  padding-top: 12px;
  /* position: sticky;
  top: 0; */
}

.menuList{
  display: flex;
  justify-content: space-between;
  gap: 46px;
  padding-block: 12px;
  /* color: var(--primary-blue); */
}

.menuListItem{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuList span{
  width: fit-content;
  height: fit-content;
}

.menuHovLine{
  margin-top: 8px;
  height: 3px;
  width: 0;
  display: none;
  background-color: var(--primary-blue);
}

.menuList span:hover{
  font-weight: 700;
  color: var(--primary-blue);
  cursor: pointer;
}

.menuList span:hover + .menuHovLine{
  width: 100%;
  display: block;
  transition: linear 1s;
}
.contactBtn{
  padding-block: 14px;
  padding-inline: 32px;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--light-grey);
  outline: thick double var(--light-grey);
  outline-width: 5px;
  cursor: pointer;
}

.contactBtn:hover{
  outline-width: 0;
  transform: scale(1.05);
  transition: 90ms linear;

}

/* HERO SECTION */
.heroSection{
  background-image: url('assets/images/hero_bg.jpg');
  /* background-color: #4e2828; */
  /* background-position: 100%;
  background-size: cover;*/
  background-repeat: no-repeat;
  /* height: 100vh; */
  position: relative;
  background-size: cover;
  background-position: top;
}

.heroMain{
  margin-top: 100px;
  padding-bottom: 200px;
  position: relative;
  padding-top: 65px;
  width: 60%;
  margin-left: 60px;
  color: var(--black);
}

.heroJeccons{
  font-family: 'Monument';
  font-weight: 800;
  color: transparent;
  font-style: normal;
  position: absolute;
  top: 0;
  left: 45px;
  height: fit-content;
  font-size: 120px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #919EB3;
}

.jecconsPhrase{
  margin-left: 100px;
  width: 700px;
  position: relative;
  font-family: 'Monument';
  font-weight: 800;
  font-size: 43px;
}
.jecconsPhrase span{
  margin-bottom: 16px;
  line-height: 56.316px;
}
.expPhrase{
  font-family: 'Cabinet';
  font-weight: 500;
  font-size: 22px;
  margin-top: 12px;
}
.expPhrase p{
  margin-bottom: 30px;
  line-height: 38.969px;

}

.learnMoreBtn{
  color: #fff;
  font-weight: 700;
  width: max-content;
  padding-inline: 32px;
  padding-block: 10px;
  background-color: var(--primary-blue);
  border-radius: 8px;
  outline: thick double var(--primary-blue);
  outline-width: 5px;
  cursor: pointer;
}

.learnMoreBtn:hover{
  outline-width: 0;
  transform: scale(1.05);
  transition: 90ms linear;

}

/*COMPANIES WORKED WITH */
.pastWorks{
  display: flex;
  padding-inline: 42px;
  padding-block: 40px;
  justify-content: space-between;
  margin-bottom: 170px;
  border-bottom: 1px solid rgba(36, 68, 108, 0.126);
  /* overflow-x: hidden; */
  /* gap: 10px; */
}

/*WHO WE ARE SUMMARY*/
.servicesHomePg{
  /* padding-inline: 100px; */
}

.whoWeAreSummHomePg{
  border-radius: 30px;
  position: relative;
  background-color: var(--primary-blue);
  height: 500px;
  min-height: 500px;
  /* height: 500px;   */
  /* padding-block: 94px; */
  display: flex;
  gap: 28px;
  margin-bottom: 250px;
  /* justify-content: flex-end; */
}
.whoWeAreSummHomePgImg{
  position: relative;
  margin-left: 32px;
  width: max-content;
  /* color: rgba(214, 214, 214, 0.986); */
}

.servImgMain{
  position: absolute;
  top: -100px;
  /* left: 32px */
}
.servImg{
  visibility: hidden;
  width: auto;
  /* width: 600px; */
}

.whoWeAreSummText{
  color: #fff;
  font-family: 'Cabinet';
  padding-right: 39px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.whoWeAreSummText h3{
  font-size: 22px;
  /* margin-top: 94px; */
  /* margin-bottom: 16px; */
  text-transform: uppercase;
}

.whoWeAreSummText h2{
  font-size: 50px;
  font-weight: 700;
  /* margin-bottom: 16px; */
  /* width: 576px;
  max-width: 576px; */
}
.whoWeAreSummText p{
  line-height: 28px;
  font-size: 19px;
}


.expSumm{
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.projectNum{
  font-family: 'Cabinet';
  display: flex;
  justify-items: flex-end;
  gap: 12px;
}
.projNumExact{
  position: relative;

}
.projNumExactHide{
  visibility: hidden;
  font-size: 56px !important;

  /* position: relative; */
}
.projNumExactVis {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 56px !important;
}


.projectNum p{
  text-transform: uppercase;
  font-size: 18px;
  color: var(--black);
}

.projectNum span{
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-blue);
}

.serviceSummHomePg{
  font-family: 'Cabinet';
  /* padding-inline: 100px; */
  display: flex;
  justify-content: space-between;
}

.servSummHomePgWrap{
  /* background:  url('assets/images/services_summbg.jpg'); */
  background: linear-gradient(0deg, rgba(2, 105, 231, 0.092), rgba(2, 105, 231, 0.097)), url('assets/images/services_summbg.jpg')
  /* padding: 0; */
}
 
.serviceSummHomePg h3{
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-blue)
}

.amazingServ{
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 30%;
}
.fullServBtn{
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 24.3px;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: var(--light-grey);
  width: fit-content;
  border-radius: 4px;
  outline: thick double var(--light-grey);
  outline-width: 5px;
  cursor: pointer;
}

.fullServBtn:hover{
  outline-width: 0;
  transform: scale(1.05);
  transition: 90ms linear;
}
.civEngServHomePg{
  width: 30%;
  /* box-shadow: 2px 3px 25px 0px #00000014; */
}

.projSummHomePg, .safetyPolicy{
  font-family: 'Cabinet';
}

.learnPolicy{
  color: #fff;
  font-weight: 700;
  width: max-content;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: var(--primary-red);
  border-radius: 8px;
  outline: thick double var(--primary-red);
  outline-width: 5px;
  cursor: pointer;
}

.learnPolicy:hover{
  outline-width: 0;
  transform: scale(1.05);
  transition: 90ms linear;

}

.quick-service-links li{
  margin-bottom: 12px
}


