@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('./assets/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Thin.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Extralight.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('assets/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Bold.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Cabinet';
  src: url('./assets/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk-Black.woff') format('woff'),
       url('./assets/fonts/CabinetGrotesk-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Monument';
  src: url('./assets/fonts/monumentextended-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/monumentextended-regular-webfont.woff') format('woff');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Monument';
  src: url('./assets/fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/monumentextended-ultrabold-webfont.woff') format('woff');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'PP-Telegraf';
  src: url('./assets/fonts/PPTelegraf-UltraBold.ttf') format('truetype');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

/* @font-face {
  font-family: 'PP-Telegraf';
  src: url('./assets/fonts/PPTelegraf-UltraBold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}*/

@font-face {
  font-family: 'PP-Telegraf';
  src: url('./assets/fonts/PPTelegraf-Regular.ttf') format('truetype');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'PP-Telegraf';
  src: url('./assets/fonts/PPTelegraf-UltraLight.ttf') format('truetype');
       /* url('./assets/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype'); */
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PP-Telegraf';

}


:root{
  /* --primary-blue: #29166f7f; */
  --primary-blue: #29166F;
  --primary-red: #661A2B;
  --black: #222;
  --light-grey: #DBDBE0
}





/* NAVIGATION BAR */


.companyLogo{
  padding-top: 10px;
}

.mainMenu{
  display: flex;
  justify-content: space-around;
  /* justify-items: flex-start; */
  align-items: center;
  font-family: 'PP-Telegraf';
  font-size: 18px;
  font-weight: 400;
  /* padding-block: 12px; */
  height: 100px;
  padding-top: 12px;
  /* position: sticky;
  top: 0; */
}

.menuList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  padding-block: 12px;
  color: #fff;
  /* color: var(--black); */
  /* text-shadow: 0.4px 0.4px #fff;  */
}

.menuListItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuList span{
  width: fit-content;
  height: fit-content;
}

.menuHovLine{
  margin-top: 8px;
  height: 3px;
  width: 0;
  /* display: none; */
  background-color: var(--primary-red);
}

.menuList span:hover{
  font-weight: 700;
  color: var(--primary-red);
  cursor: pointer;
}

.menuList span:hover + .menuHovLine{
  width: 100%;
  transition: 200ms linear;
}
.contactBtn{
  padding-block: 18.5px;
  padding-inline: 32px;
  border-radius: 100px;
  width: fit-content;
  color: var(--primary-red);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--light-grey);
  outline: solid var(--light-grey) 1px;
  outline-offset: 3px;
  cursor: pointer;
  cursor: pointer;
}

.contactBtn:hover{
  outline-offset: 0px;
  transform: scale(1.05);
  transition: 120ms linear;

}



/* HERO SECTION */


.heroSection{
  background-image: url('assets/images/hero_bg3.jpg');
  /* background-color: #4e2828; */
  /* background-position: 100%;
  background-size: cover;*/
  background-repeat: no-repeat;
  /* height: 100vh; */
  position: relative;
  background-size: cover;
  background-position: 50%;
}

.heroMain{
  /* margin-top: 100px; */
  padding-bottom: 100px;
  position: relative;
  padding-top: 155px;
  width: 60%;
  /* margin-left: 60px; */
  /* color: var(--black);
  text-shadow: 2px 2px 2px #fff;  */

  color: #fff;
}

.heroJeccons{
  font-family: 'Monument';
  font-weight: 800;
  color: transparent;
  font-style: normal;
  position: absolute;
  top: 0;
  left: 45px;
  height: fit-content;
  font-size: 120px;
  -webkit-text-strokeWidth: 1px;
  -webkit-text-stroke-color: #fff;
  opacity: 0.3;
}

.jecconsPhrase{
  margin-left: 100px;
  position: relative;
  font-family: 'Monument';
  font-weight: 800;
  font-size: 43px;
}
.jecconsPhrase span{
  margin-bottom: 16px;
  line-height: 56.316px;
  width: 700px;

}
.expPhrase{
  font-family: 'Cabinet';
  font-weight: 400;
  font-size: 22px;
  margin-top: 12px;
}
.expPhrase p{
  margin-bottom: 30px;
  line-height: 38.969px;
  /* color: var(--black); */
  /* text-shadow: 2px 2px 2px #fff;  */
}

.learnMoreBtn{
  color: #fff;
  font-weight: 700;
  width: fit-content;
  padding-inline: 32px;
  padding-block: 10px;
  background-color: var(--primary-blue);
  border-radius: 8px;
  outline: thick double var(--primary-blue);
  outline-width: 5px;
  cursor: pointer;
}

.learnMoreBtn:hover{
  outline-width: 0;
  transform: scale(1.05);
  transition: 90ms linear;

}




/*COMPANIES WORKED WITH */


.pastWorks{
  display: flex;
  padding-inline: 20px;

  padding-block: 40px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(36, 68, 108, 0.126);
  overflow: hidden;
  gap: 10px;
}


/*ABOUT JECCONS HOME PAGE*/

.about-hm-learn-more-btn{
  outline: solid var(--primary-red) 1px;
  outline-offset: 4px;
  cursor: pointer;
}

.about-hm-learn-more-btn:hover{
  /* outline-width: 0; */
  transform: scale(1.05);
  outline-offset: 0px;
  transition: 120ms linear;
  gap: 18px;
}


/* SERVICES HOME PAGE */

.civ-eng-home-img img{
  /* aspect-ratio: 16/1; */
}


.learn-more-service-hm-text-slash{
  transform: translateX(-100%);
}

.elect-eng-summ:hover span, .civ-eng-summ:hover span, .env-eng-summ:hover span, .mech-eng-summ:hover span, .oil-gas-summ:hover span, .safe-secure-summ:hover span{
  color: var(--primary-red);
}

.elect-eng-summ:hover .learn-more-service-hm-text-slash, .civ-eng-summ:hover .learn-more-service-hm-text-slash, .env-eng-summ:hover .learn-more-service-hm-text-slash, .mech-eng-summ:hover .learn-more-service-hm-text-slash, .oil-gas-summ:hover .learn-more-service-hm-text-slash, .safe-secure-summ:hover .learn-more-service-hm-text-slash{
  animation: learn-more-services-hm-slash 500ms linear forwards;

}

.elect-eng-summ:hover svg, .civ-eng-summ:hover svg, .env-eng-summ:hover svg, .mech-eng-summ:hover svg, .oil-gas-summ:hover svg, .safe-secure-summ:hover svg{
  animation: learn-more-services-hm-btn 500ms linear forwards;
}

@keyframes learn-more-services-hm-btn{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(255deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes learn-more-services-hm-slash{
  0%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(0);
  }
}

.service-home-number{
  color: #B7B7B7;
}


/** ABOUT US MAIN PAGE**/

.aboutUs{
  color: #222;
  background-image: url(./assets/images/who-we-arebg.png);
  background-color: #F9F7FD;
}

.technicians-certs{
  background: url('assets/images/map-base 1.png');
  /* background-position: 100%; */
  background-size: contain;
}

.text-scroll-main-wrap{
  animation: global-dedicated-scroll 20s linear infinite;
  animation-play-state: running;
}

.text-scroll-main-wrap:hover{
  animation-play-state: paused;
}

@keyframes global-dedicated-scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

/* JECCONS SERVICES */

/* MAIN SERVICES PAGE */
.services-main-hero{
  background: url('assets/images/services_main_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.services-set-wrap{
  display: grid;
  grid-template-areas: 
    'service-one service-two service-three' 
    'service-four service-five service-six'
    'service-seven . .'
  ; 
  grid-template-columns: 1fr 1fr 1fr
}

@media(max-width: 1300px){
  .services-set-wrap{
      grid-template-areas: 
          'service-one service-two'
          'service-three service-four'
          'service-five service-six'
          'service-seven .'
      ;

    grid-template-columns: 1fr 1fr

  }
}

@media(max-width: 900px){
  .services-set-wrap{
      grid-template-areas: 
          'service-one'
          'service-two'
          'service-three'
          'service-four'
          'service-five'
          'service-six'
          'service-seven'
      ;

    grid-template-columns: 1fr

  }
}

.civil-eng-link{
  grid-area: service-one;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);
}

.elect-eng-link{
  grid-area: service-two;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);
}

.env-eng-link{
  grid-area: service-three;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);
}

.mech-eng-link{
  grid-area: service-four;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);
}

.oil-gas-link{
  grid-area: service-five;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);
}

.safety-security-link{
  grid-area: service-six;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);
}

.advanced-sols-link{
  grid-area: service-seven;
  box-shadow: 2px 3px 25px 0px rgba(0, 0, 20, 0.27);

}